<article class="team-card">
  <div class="team-card__photo">
    <img
      class="team-card__photo-img"
      [src]="vet.photo"
      [alt]="vet.name + ' - ' + vet.specialty"
      width="400"
      height="500"
      loading="lazy"
    >
  </div>

  <div class="team-card__info">
    <h3 class="team-card__name">{{ vet.name }}</h3>
    <span class="team-card__specialty">{{ vet.specialty }}</span>
    <span class="team-card__experience">{{ vet.experience }}</span>
    <p class="team-card__fun-fact">"{{ vet.funFact }}"</p>
  </div>
</article>
