<button
  [type]="type"
  [class]="'btn btn--' + variant + ' btn--' + size"
  [disabled]="disabled || loading"
  [routerLink]="routerLink"
>
  <svg
    *ngIf="loading"
    class="btn__spinner"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-dasharray="31.4 31.4"
      stroke-dashoffset="10"
    />
  </svg>
  <span class="btn__content" [class.btn__content--hidden]="loading">
    <ng-content></ng-content>
  </span>
</button>
